{% extends 'layout.html' %}

{% block content %}
    <div class="section-margin">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2"></div>
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <form action="{{ url_for('studentsignin') }}" method="POST" id="form-login">
                        <div class="form-group">
                            <label for="exampleInputEmail1">University ID</label>
                            <input type="email" class="form-control" name="inputUid"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" name="inputPassword">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </form>
                        {% if message %}
                        <p class="invalid">{{message}}</p>
                        {% endif %}
                        {% if messageSuccess %}
                        <p class="invalid">{{message}}</p>
                        {% endif %}
                    <p>Don't have an account?
                    <a href="/signup">Register Now</a>
                    </p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2"></div>
            </div>
        </div>
    </div>
{% endblock %}